.game-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #B084CC;
    padding: 25px;
    min-height: 550px;
    min-width: 600px;
}

.cards-row {
    display: flex;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    font-family: 'Press Start 2P', cursive;
}

.card {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-position-x: -12px;
    background-position-y: -20px;
    background: #75cca9;
    transition: all .4s;
    transform: rotateY(180deg);
}

.card.opened {
    background: url(../assets/Pokemons.png);
    transform: rotateY(0);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu > button {
    box-shadow: 0px 11px 10px -7px #3e7327;
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color:#77b55a;
    border-radius:7px;
    border:4px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 35px;
    font-weight:bold;
    padding:10px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
.menu > button:hover {
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color:#72b352;
}
.menu > button:active {
    position:relative;
    top:1px;
}

.menu > h1 {
    color: #ACFCD9;
    margin-bottom: 80px;
}